@using JabbR_Core
@using JabbR_Core.ViewModels
@model ChangePasswordViewModel

<form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal"> 
@*<form class="form-horizontal" action="@Url.Action("ChangePassword", "Account")" method="POST">*@

    @Html.ValidationSummary()
    <!--    if (userModel.HasPassword)
        {-->
    <div class="control-group">
        <label class="control-label" for="OldPassword">@LanguageResources.Account_CurrentPass</label>
        <div class="controls">
            <input asp-for="OldPassword" class="form-control" format=@LanguageResources.Account_CurrentPass placeholder="" />

            @*@Html.Password("OldPassword", "input-xlarge", LanguageResources.Account_CurrentPass)*@
        </div>
    </div>
    <!--}-->
    <div class="control-group">
        <label class="control-label" for="NewPassword">@LanguageResources.Account_Pass</label>
        <div class="controls">
            <input asp-for="NewPassword" class="form-control" format=@LanguageResources.Account_Pass placeholder="" />

            @*@Html.Password("NewPassword", "input-xlarge", LanguageResources.Account_Pass)*@
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ConfirmPassword">@LanguageResources.Account_PassConfirm</label>
        <div class="controls">
            <input asp-for="ConfirmPassword" class="form-control" format=@LanguageResources.Account_PassConfirm placeholder="" />

            @*@Html.Password("ConfirmPassword", "input-xlarge", LanguageResources.Account_PassConfirm)*@
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn" value="@LanguageResources.Account_ChangePass" />
        </div>
    </div>
    @Html.AntiForgeryToken()
</form>