@using JabbR_Core
@using JabbR_Core.ViewModels
@model ProfilePageViewModel

@{
    var userModel = Model;
    var gravatar = "https://secure.gravatar.com/avatar/{0}?s=48&d=mm"; //+ userModel.Hash;
    var passwordUrl = /*userModel.HasPassword ? Url.Content("~/account/changepassword") : */Url.Content("~/account/newpassword");
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JabbR - account</title>
  
    <link href="~/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/font/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/themes/default/Chat.css" />
    <link href="~/css/emoji20.css" rel="stylesheet" />

</head>
<body class="user-profile">
    <section id="page" role="application">
        <header id="heading" role="heading">
            <div class="banner" role="banner">
                <h1>JabbR</h1>
            </div>
            <div style="clear: both"></div>
        </header>
        <div class="container">
            <div class="row" style="padding-top: 75px;">
                <!--   atsign Html.AlertMessages()-->
                <div class="row">
                    <div class="span12">
                        <div class="user-details">
                            <img class="gravatar" src="@gravatar" /> 
                            <span class="name">@userModel.Name</span> <!--atsign userModel.name-->
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile" data-toggle="tab">@LanguageResources.Account_Profile</a></li>
                        <li><a href="#changeUsername" data-toggle="tab">@LanguageResources.Account_UserName</a></li>
                        <li><a href="#changePassword" data-toggle="tab">@LanguageResources.Account_Pass</a></li>
                   <!--   atsign if (userModel.SocialDetails.ConfiguredProviders.Any())
                        {-->
                            <li><a href="#identityProviders" data-toggle="tab">@LanguageResources.Account_IdentityProviders</a></li>
                       <!-- }-->
                    </ul>
                    <div class="tab-content">
                        <div class="account-details tab-pane active" id="profile">
                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>@LanguageResources.Administration_GeneralSettings</legend>
                                    <div class="control-group">
                                        <label class="control-label label-align-left" for="note">@LanguageResources.Account_Note</label>
                                        <div class="controls">
                                            <!--atsignif (userModel.Note != null)
                                            {
                                                <span class="input-xxlarge uneditable-input">atsignuserModel.Note</span>
                                            }
                                            else
                                            {-->
                                                <div class="alert alert-info">To set your note, type /note [message]</div>
                                          <!--}-->  
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label label-align-left" for="country">@LanguageResources.Account_Country</label>
                                        <div class="controls">
                                           <!-- atsignif (userModel.Country != null)
                                            {
                                                <span class="input-medium uneditable-input"><span>atsignuserModel.Country</span> <i class="flag flag-atsignuserModel.Flag"></i></span>
}
                                            else
                                            {-->
                                                <div class="alert alert-info">To set your country, type /flag [iso-3166-2 code] <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO Reference Chart</a></div>
                                            <!--}-->  
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                      <!--      atsignif(userModel.OwnedRooms.Count > 0)
                            {-->
                                <fieldset>
                                    <legend>@LanguageResources.Account_OwnedRooms</legend>
                                    <ul id="owned-rooms" class="unstyled">
                                       <!-- atsignforeach (var room in userModel.OwnedRooms)
                                        {
                                            <li class="room">
                                                <div class="row-fluid room-row">
                                                    <div class="span3">
                                                        atsignif (room.Private)
                                                        {
                                                            <span class="lock"><i class="icon-lock"></i></span>
                                                        }
                                                        atsignif (room.Closed)
                                                        {
                                                            <span class="readonly"><i class="icon-ban-circle"></i></span>
                                                        }
                                                        <span class="name">atsignroom.Name</span>
                                                    </div>
                                                    <div class="span9">
                                                        <span class="topic muted">atsignroom.Topic</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }-->
                                    </ul>
                                </fieldset>
                            <!--}-->
                        </div>
                        <div class="account-details tab-pane hide" id="changeUsername">
                            <form class="form-horizontal" action="@Url.Content("~/account/changeusername")#changeUsername" method="POST">
                                @Html.ValidationSummary()
                                <div class="control-group">
                                    <label class="control-label" for="username">@LanguageResources.Account_UserName</label>
                                    <div class="controls">
                                        @Html.TextBox("username", "input-xlarge", LanguageResources.Account_UserName)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="confirmUsername">@LanguageResources.Account_UserNameConfirm</label>
                                    <div class="controls">
                                        @Html.TextBox("confirmUsername", "input-xlarge", LanguageResources.Account_UserNameConfirm)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="submit" class="btn" value="@LanguageResources.Account_ChangeUserName" />
                                    </div>
                                </div>
                                @Html.AntiForgeryToken()
                            </form>
                        </div>
                        <div class="account-details tab-pane hide" id="changePassword">
                            @Html.Partial("_changepassword", userModel.UserPasswordViewModel)


                            //TODO REPLACE
                        </div>
                        <div class="account-details tab-pane hide" id="identityProviders">
                            @*@Html.Partial("_social", @userModel.SocialDetails)*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript">
        (function ($) {
            // set the selected tab based on the hash
            var currentSection = document.location.hash || "#profile";
            $('a[href="' + currentSection + '"]').tab('show');

            // always set the hash when we change tabs
            $('a[data-toggle="tab"]').on('shown', function (e) {
                document.location.hash = e.target.hash;
            });

            // make sure errors look pretty and bootstrap-y
            $('input.error').closest('.control-group').addClass('error');
        }(jQuery));
    </script>
</body>
</html>
