@using JabbR_Core
@using JabbR_Core.ViewModels

@model NotificationsViewModel
@{
    var notificationsViewModel = Model as NotificationsViewModel;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>JabbR - notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:100italic,300italic,700italic,100,300,700' rel='stylesheet' type='text/css'>
    <link href="~/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/font/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/themes/default/Chat.css" />
    <link href="~/css/emoji20.css" rel="stylesheet" />
</head>
<body class="notifications">
    <section id="page" role="application">
        <header id="heading" role="heading">
            <div class="banner" role="banner">
                <h1><a href="/">JabbR</a></h1>
            </div>
            <div id="main-menu" class="pull-right">
                <div id="tabs-dropdown-container" role="tablist">
                    <button class="dropdown-toggle" data-toggle="dropdown" id="tabs-dropdown-rooms">
                        <i class="icon-chevron-down"></i>
                    </button>

                    <ul id="tabs-dropdown" class="dropdown-menu pull-right" aria-labelledby="tabs-dropdown-rooms"></ul>
                </div>
                <div id="connectionStatus" class="connection-status" data-toggle="popover" data-placement="bottom">
                    <i class="icon-connection-status"></i>
                    <div id="connection-info-popover" class="popover"><div class="arrow"></div><div class="popover-inner"><i class="popover-title-icon icon-globe" style="display: none;"></i><h3 class="popover-title" style="display: none;"></h3><div class="popover-content"><p></p></div></div></div>
                    <div id="connection-info-content" style="display: none;"><p id="connection-status"></p><p id="connection-transport"></p></div>
                    <div id="connection-state-changed-popover" class="popover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title" style="display: none;"></h3><i id="popover-content-icon"></i><div class="popover-content"><p></p></div></div></div>
                </div>
                <div id="preferences" class="navbar account pull-right">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li><a id="notifications" class="" title="@LanguageResources.Client_Notifications" href="@Url.Content("~/notifications")" target="_self"><i class="icon-comment"></i><span id="notification-unread-count" class="badge badge-info"></span></a></li>
                            <li><a class="" title="@LanguageResources.Client_AccountSettings" href="@Url.Content("~/account")" target="_self"><i class="icon-user"></i></a></li>
                            <li><a class="help" aria-haspopup="true" title="@LanguageResources.Client_DisplayHelp"><i class="icon-question-sign"></i></a></li>
                            <li>
                                <a id="logoutLink" class="logout" title="@LanguageResources.Client_SignOut">
                                    <form style="height: 1px" asp-controller="Account" asp-action="Logoff" method="post" id="logoutForm">
                                        <i class="icon-arrow-right"></i>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row" style="padding-top: 75px;">
                <!-- Html.AlertMessages()-->
                <div class="row">
                    <div class="span2">
                        <span class="notifications-title pull-left">@LanguageResources.Notifications</span>
                    </div>
                    <div class="span2 offset8 pull-right">
                        <a href="#" class="btn btn-mini pull-right js-mark-all-as-read @(notificationsViewModel.UnreadCount == 0 ? "disabled" : "")" data-action-url="@Url.Content("~/notifications/markallasread")">@LanguageResources.Notifications_MarkAllRead</a>
                    </div>
                </div>
                <hr />
            </div>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#unreadNotifications" data-toggle="tab">
                            @Html.Raw(String.Format(LanguageResources.Notifications_UnreadWithCount, Model.UnreadCount))
                        </a>
                    </li>
                    <li>
                        <a href="#AllNotifications" data-toggle="tab">@LanguageResources.Notifications_AllNotifications</a>
                    </li>
                </ul>
                <div class="tab-content">
                  <!-- if (notificationsViewModel.Notifications.Count > 0)
                    {-->
                        <div class="account-details tab-pane active" id="UnreadNotifications">
                            @Html.Partial("_UnreadNotifications", notificationsViewModel)
                        </div>
                        <div class="account-details tab-pane hide" id="AllNotifications">
                            @Html.Partial("_AllNotifications", notificationsViewModel)
                        </div>
                  <!--  }
                    <!--if (notificationsViewModel.Notifications.Count == 0)
                    {
                        <p id="no-notifications" class="well well-large">@LanguageResources.Notifications_NoUnread</p>
                    }-->

                </div>
            </div>
        </div>
    </section>
    <script id="multiline-content-template" type="text/x-jquery-tmpl">
        <pre class="multiline">${content}</pre>
    </script>
    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/json2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jQuery.tmpl.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ba-linkify.min.js"></script>
    <script type="text/javascript" src="~/Scripts/marked.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.pubsub.js"></script>
    <script type="text/javascript" src="~/Chat.emoji.js"></script>
    <script type="text/javascript" src="~/Chat.utility.js"></script>
    <script type="text/javascript" src="~/notifications.unreadcounter.js"></script>
    <script type="text/javascript" src="~/notifications.js"></script>
    <script src="~/notificationread.js"></script>
    <script src="~/notificationtabs.js"></script>
</body>

</html>